@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;1,700&display=swap');

:root {
	--primary-color: #fbbf24;
	--light-color: #a1a1aa;
}

body {
	font-family: 'Comic Neue', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/** nav **/

.navigation {
	background-color: var(--primary-color);
	padding: 2rem 1rem;
}

.nav-brand {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
}

/** container **/

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/** textArea **/

textarea {
	width: 50%;
	height: 15vh;
	display: block;
	margin: 1rem;
	padding: 1rem;
}

button {
	background-color: var(--primary-color);
	font-size: 1.5rem;
	padding: 1rem 3rem;
	margin: 1rem;
}

#output {
	border: 1px solid black;
	height: 15vh;
	width: 50%;
	margin: 1rem;
	padding: 1rem;
}

/** footer **/

.footer {
	background-color: var(--primary-color);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer .footer-header {
	font-weight: bold;
	font-size: 2.5rem;
}

.footer p {
	width: 50%;
	font-size: 1.5rem;
	text-align: center;
}
